<div class="container bg-secondary bg-gradient rounded" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div class="row cols-1 gy-2 p-5">
        <div class="col-sm-12 text-center"><h2>Header the bill</h2></div>
        <div class="col-sm-4">
            <label for="N_Bill" class="form-label">Nro bill</label>
            <input type="number" class="form-control" name="N_Bill" id="N_Bill" placeholder="Type to number bill">
        </div>
        <div class="col-sm-4">
            <label for="Bill_Date" class="form-label">Bill Date</label>
            <input type="date" class="form-control" name="Bill_Date" id="Bill_Date" placeholder="Type to number bill">
        </div>
        <div class="col-sm-4">
            <label for="Seller" class="form-label">Seller</label>
            <input type="text" class="form-control" name="Seller" id="Seller" placeholder="Type to number bill">
        </div>

        <div class="col-sm-4">
            <label for="Seller" class="form-label">Id Customer</label>
            <input type="number" class="form-control" name="Seller" id="Seller" placeholder="Type to number bill">
        </div>
        <div class="col-sm-4">
            <label for="Seller" class="form-label">Full name</label>
            <input type="text" class="form-control" name="Seller" id="Seller" placeholder="Type to number bill">
        </div>
        <div class="col-sm-4">
            <label for="Seller" class="form-label">E-mail</label>
            <input type="email" class="form-control" name="Seller" id="Seller" placeholder="Type to number bill">
        </div>
        <div class="col-md">
            <label for="Seller" class="form-label">Adress</label>
            <input type="email" class="form-control" name="Seller" id="Seller" placeholder="Type to number bill">
        </div>
        <div class="col-md">
            <label for="Seller" class="form-label">Phone</label>
            <input type="email" class="form-control" name="Seller" id="Seller" placeholder="Type to number bill">
        </div>
    </div>
</div>