<div class="container bg-secondary bg-gradient rounded" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div class="row cols-2 cols-sm-2 gy-2 py-4 my-2 overflow-auto" style="height: 250px;">
        <div class="col-md-12 text-center"><h2>Invoice header</h2></div>
        <div class="row row-cols-sm-6 g-2 py-2 ">
            <div>
                <label for="cod_product" class="form-label">Cod_product</label>
                <input type="number" class="form-control" name="cod_product" id="cod_product" placeholder="Type the bill's number">
            </div>
            <div>
                <label for="name_product" class="form-label">Name Product</label>
                <input type="text" class="form-control" name="name_product" id="name_product">
            </div>
            <div>
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" name="Amount" id="amount" readonly placeholder="Type the seller's name">
            </div>
            <div>
                <label for="unit_value" class="form-label">Unit Value</label>
                <input type="number" class="form-control" name="unit_value" id="unit_value" placeholder="Type the customer's ID">
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn w-100 h-100 btn-outline-success">+</button>
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn w-100 h-100 btn-outline-danger">-</button>
            </div>
            <div>
                <label for="cod_product" class="form-label">Cod_product</label>
                <input type="number" class="form-control" name="cod_product" id="cod_product" placeholder="Type the bill's number">
            </div>
            <div>
                <label for="name_product" class="form-label">Name Product</label>
                <input type="text" class="form-control" name="name_product" id="name_product">
            </div>
            <div>
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" name="Amount" id="amount" readonly  placeholder="Type the seller's name">
            </div>
            <div>
                <label for="unit_value" class="form-label">Unit Value</label>
                <input type="number" class="form-control" name="unit_value" id="unit_value" placeholder="Type the customer's ID">
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn w-100 h-100 btn-outline-success">+</button>
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn w-100 h-100 btn-outline-danger">-</button>
            </div>
            
        </div>
    </div>
</div>